# Ignore Python virtual environment directories
.venv/

# Ignore other unnecessary files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Dockerfile if you have multiple and want to exclude one
Dockerfile.dev

# Ignore any IDE-specific files
.vscode/
.idea/
